#!/bin/sh
#
#   ALIASES
#

S='sudo'

alias ZZ='exit'
alias lw='wl *'
alias df='df -h'
alias cl='clear'
alias wl='wc -l'
alias rm='rm -v'
alias mv='mv -vi'
alias cp='cp -vi'
alias ls='ls --color=auto'
alias ll='exa -laagF --color-scale --sort=type'
alias nv="$S nvim"
alias nvz='nvim ~/.zshrc'
alias nvb='nvim ~/.bashrc'
alias nvc='nvim ~/.config'
alias nvp='nvim ~/.profile'
alias nvx='nvim ~/.xinitrc'
alias nvs='nvim ~/.local/bin'
alias nbp='nvim ~/.bash_profile'
alias nva='nvim ~/.config/alacritty'
alias nvd='cd ~/.local/src/dwm/ && nvim config.def.h && suc'
alias bat='bat -f'
alias aur="$S aura"
alias pac="$S pacman"
alias neo='fastfetch'
alias dsh="$S du -sh"
alias suc='c-c && suk'
alias p-1='patch -p1 <'
alias chm="$S chmod -c"
alias cho="$S chown -c"
alias res='chmod go-rwx'
alias man='PAGER=most man'
alias own="cho $USER:$USER"
alias s.b='source ~/.bashrc'
alias mxs='res * && chm 0500 *'
alias suk="$S make clean install"
alias mak="make && $S make install"
alias c-c="$S cp config.def.h -R config.h -vi"
alias pur='pac -Syu && aur -Su && flatpak update'
alias puc='pac -Syu && aur -Su && pacleanup && flatpak update'
alias grep='grep --color=auto'
alias chmod='chmod -c'
alias chown='chown -c'
alias mkdir='mkdir -vp'
alias egrep='egrep --color=auto'
alias fgrep='fgrep --color=auto'
alias nv.al="$EDITOR ~/.config/.aliases"
alias bakwm="cp *.c *.h *.1 *.mk Makefile -R baks/"
alias ubakwm="cp baks/* -R ."
alias x-wset='xwallpaper --zoom'
alias visudo="$S EDITOR=nvim visudo"

#keyboard
alias give-me-qwerty-us="$S localectl set-x11-keymap us"
alias give-me-qwerty-latam="$S localectl set-x11-keymap latam"

#pacman unlock
alias rmpacmanlock="$S rm /var/lib/pacman/db.lck"

#arcolinux logout unlock
#alias rmlogoutlock="$S rm /tmp/arcologout.lock"

#which graphical card is working
alias whichvga="/usr/local/bin/arcolinux-which-vga"

#free
alias free="free -mt"

#continue download
alias wget="wget -c --hsts-file=~/.config/wget-hsts"

#userlist
alias userlist="cut -d: -f1 /etc/passwd"

#merge new settings
alias merge="xrdb -merge ~/.Xresources"


#ps
alias psa="ps auxf"
alias psgrep="ps aux | grep -v grep | grep -i -e VSZ -e"

#grub update
alias edg='nv /etc/default/grub && upg'
alias upg="$S grub-mkconfig -o /boot/grub/grub.cfg"

#add new fonts
alias up-fc="$S fc-cache -fv"

#copy/paste all content of /etc/skel over to home folder - backup of config created - beware
alias skel='[ -d ~/.config ] || mkdir ~/.config && cp -Rf ~/.config ~/.config-backup-$(date +%Y.%m.%d-%H.%M.%S) && cp -rf /etc/skel/* ~'
#backup contents of /etc/skel to hidden backup folder in home/user
alias bupskel='cp -Rf /etc/skel ~/.skel-backup-$(date +%Y.%m.%d-%H.%M.%S)'

#copy shell configs
#alias cb='cp /etc/skel/.bashrc ~/.bashrc && exec bash'
#alias cz='cp /etc/skel/.zshrc ~/.zshrc && echo "Copied."'

#switch between bash and zsh
alias tozsh="$S chsh $USER -s /bin/zsh && echo 'Now log out.'"
alias tobash="$S chsh $USER -s /bin/bash && echo 'Now log out.'"
alias todash="$S chsh $USER -s /bin/dash && echo 'Now log out.'"

#switch between lightdm and sddm
alias tosddm="pac -S sddm --noconfirm --needed ; $S systemctl enable sddm.service -f ; echo 'Sddm is active - reboot now'"

#hardware info --short
alias hw="hwinfo --short"

#check vulnerabilities microcode
alias microcode='grep . /sys/devices/system/cpu/vulnerabilities/*'

#get fastest mirrors in your neighborhood
alias mirror="$S reflector -f 30 -l 30 --number 10 --verbose --save /etc/pacman.d/mirrorlist"
alias mirrord="$S reflector --latest 30 --number 10 --sort delay --save /etc/pacman.d/mirrorlist"
alias mirrors="$S reflector --latest 30 --number 10 --sort score --save /etc/pacman.d/mirrorlist"
alias mirrora="$S reflector --latest 30 --number 10 --sort age --save /etc/pacman.d/mirrorlist"
#our experimental - best option for the moment
alias mirrorx="$S reflector --age 6 --latest 20  --fastest 20 --threads 5 --sort rate --protocol https --save /etc/pacman.d/mirrorlist"
alias mirrorxx="$S reflector --age 6 --latest 20  --fastest 20 --threads 20 --sort rate --protocol https --save /etc/pacman.d/mirrorlist"
alias ram="rate-mirrors --allow-root arch | $S tee /etc/pacman.d/mirrorlist"

#Recent Installed Packages
alias rip="expac --timefmt='%Y-%m-%d %T' '%l\t%n %v' | sort | tail -200 | nl"
alias riplong="expac --timefmt='%Y-%m-%d %T' '%l\t%n %v' | sort | tail -3000 | nl"

#iso and version used to install ArcoLinux
alias iso="cat /etc/dev-rel | awk -F '=' '/ISO/ {print $2}'"

#Cleanup orphaned packages
alias pacleanup='pac -Rns $(pacman -Qtdq)'

#clear
alias clean="clear; seq 1 $(tput cols) | sort -R | sparklines | lolcat"

#search content with ripgrep
alias rg="rg --sort path"

#get the error messages from journalctl
alias jctl="journalctl -p 3 -xb"

#know what you do in these files
alias eddm='nv /etc/sddm.conf'
alias ngnupgconf='nv /etc/pacman.d/gnupg/gpg.conf'
alias edmkinitcpio='nv /etc/mkinitcpio.conf'
alias edmirrorlist='nv /etc/pacman.d/mirrorlist'
alias edarcomirrorlist='nv /etc/pacman.d/arcolinux-mirrorlist'

#gpg
#verify signature for isos
alias fix-gpg-check="gpg2 --keyserver-options auto-key-retrieve --verify"

#receive the key of a developer
alias fix-gpg-retrieve="gpg2 --keyserver-options auto-key-retrieve --receive-keys"
alias fix-gpg-keyserver="[ -d ~/.gnupg ] || mkdir ~/.gnupg ; cp /etc/pacman.d/gnupg/gpg.conf ~/.gnupg/ ; echo 'done'"

#fixes
#alias fix-permissions="cho -R $USER:$USER ~/.config ~/.local"
#alias fix-keys="/usr/local/bin/arcolinux-fix-pacman-databases-and-keys"
#alias fix-sddm-conf="/usr/local/bin/arcolinux-fix-sddm-config"
#alias fix-pacman-conf="/usr/local/bin/arcolinux-fix-pacman-conf"
#alias fix-pacman-keyserver="/usr/local/bin/arcolinux-fix-pacman-gpg-conf"

#maintenance
alias big="expac -H M '%m\t%n' | sort -h | nl"
alias downgrada="$S downgrade --ala-url https://ant.seedhost.eu/arcolinux/"

#hblock (stop tracking with hblock)
#use unhblock to stop using hblock
alias unhblock="hblock -S none -D none"

#systeminfo
alias probe="$S -E hw-probe -all -upload"
alias sysfailed="systemctl list-units --failed"

#update betterlockscreen images
#alias bls="betterlockscreen -u /usr/share/backgrounds/arcolinux/"

#give the list of all installed desktops - xsessions desktops
alias xd="ls /usr/share/xsessions"

#remove
alias rmgitcache="rm -r ~/.cache/git"
